---
import Layout from "$/components/Layout.astro";
import Link from "$/components/Link.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon";

import CinnamorollImg from "$/images/cinnamoroll.jpg";
import ContraryImg from "$/images/contrary.jpg";

const LIST_CLASS =
  "ml-[16px] list-disc space-y-4 marker:text-subtitle/70 sm:ml-[21px] sm:space-y-2 [&_ul>*]:marker:text-subtitle-light";
const NESTED_LIST_CLASS = "ml-[16px] mt-2 list-disc space-y-4 sm:ml-[21px] sm:space-y-2";
---

<Layout
  seo={{
    title: "Armaan Aggarwal",
  }}
>
  <h1 class="sr-only">Home</h1>

  <div class="space-y-12">
    <div class="space-y-6 text-pretty leading-7 sm:leading-8">
      <p id="bessy-notice" class="text-sm sm:text-base" hidden="">
        ‼️ Please do not contact me about Bessy; I sold it and am no longer involved with it :)
      </p>

      <p>
        I'm an 18-year-old software engineer in San Francisco. I'm currently working full-time at
        <Link class="whitespace-nowrap" href="https://replit.com" target="_blank">
          <Icon
            name="replit"
            aria-hidden
            class="ml-[2px] mr-[4px] inline-block h-[1em] w-[1em] -translate-y-px rounded bg-[#F26207]"
          />{"Replit"}
        </Link>.
      </p>

      <div class="space-y-2">
        <p>Some things I'm grateful for:</p>

        <ul class={LIST_CLASS}>
          <li>
            I exited <Link href="https://www.bessy.io" target="_blank">my first company</Link> while
            in high school
          </li>

          <li>
            I was the founding engineer at <Link href="https://coconote.app" target="_blank">
              {"a consumer startup"}
            </Link> with $300K+ MRR and 1M+ users
            <ul class={NESTED_LIST_CLASS}>
              <li>
                My work went viral on <Link
                  href="https://www.tiktok.com/@sidstudiesadhd/video/7438758153044413742"
                  target="_blank"
                >
                  {"TikTok"}
                </Link> and was covered by <Link
                  href="https://techcrunch.com/2024/11/20/pdf-to-brainrot-study-tools-are-a-strange-iteration-on-a-tiktok-trend/"
                  target="_blank"
                >
                  {"TechCrunch"}
                </Link> and
                <Link
                  href="https://www.fastcompany.com/91235324/pdf-to-brainrot-tools-are-bringing-tiktok-visuals-to-gen-alphas-academics"
                  target="_blank"
                >
                  {"Fast Company"}
                </Link>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="space-y-2">
        <p>Other fun facts:</p>

        <ul class={LIST_CLASS}>
          <li>
            I'm fairly involved with open source, particularly within the React Native ecosystem
            <ul class={NESTED_LIST_CLASS}>
              <li>
                I've contributed code to <Link
                  class="whitespace-nowrap"
                  href="https://github.com/expo/expo/pull/32567"
                  target="_blank"
                >
                  <Icon
                    name="expo"
                    aria-hidden
                    class="ml-[2px] mr-[4px] inline-block h-[1em] w-[1em] -translate-y-px rounded"
                  />{"Expo"}
                </Link>{","} the <Link
                  href="https://github.com/bluesky-social/social-app/pull/7523"
                >
                  {"Bluesky "}
                  <span class="hidden sm:inline">mobile</span>
                  {"app"}
                </Link>, and <Link href="https://github.com/Armster15/expo-xml-font">a</Link>
                <Link
                  href="https://github.com/search?q=is%3Apr+author%3AArmster15+react+native&type=pullrequests"
                >
                  {"bunch"}
                </Link>
                {" "}
                <Link href="https://github.com/Armster15?tab=repositories&q=expo&sort=stargazers">
                  {"more"}
                </Link>.
              </li>
            </ul>
          </li>

          <li>
            I'm a Venture Partner at <Link
              class="whitespace-nowrap"
              href="https://contrary.com"
              target="_blank"
            >
              <Image
                src={ContraryImg}
                alt=""
                class="ml-[2px] mr-[4px] inline-block h-[1em] w-[1em] -translate-y-px select-none rounded-full"
              />{"Contrary"}
            </Link>, a talent and research-driven investment firm
          </li>

          <li>
            I love Taco Bell but strongly dislike <Link
              href="https://en.wikipedia.org/wiki/OR6A2"
              target="_blank"
            >
              {"cilantro"}
            </Link>
          </li>

          <li>
            My <Link class="whitespace-nowrap" href="/icon.svg" target="_blank">
              <Icon
                name="icon"
                aria-hidden
                class="ml-[2px] mr-[4px] inline-block h-[1em] w-[1em] -translate-y-px rounded-full"
              />{"old profile picture"}
            </Link> was an SVG I hand-wrote from scratch (inspect element to see the code!)
          </li>

          <li>
            I may or may not hoard too much <Link
              class="whitespace-nowrap"
              href="https://mgoblue.com"
              target="_blank"
            >
              <Icon
                name="michigan"
                aria-hidden
                class="ml-[2px] mr-[4px] inline-block h-[1em] w-[1em] -translate-y-px rounded-sm"
              />{"Michigan Wolverines"}
            </Link> and <Link
              class="whitespace-nowrap"
              href="https://www.sanrio.com/collections/cinnamoroll"
              target="_blank"
            >
              <Image
                src={CinnamorollImg}
                alt=""
                class="ml-[2px] mr-[4px] inline-block h-[1em] w-[1em] -translate-y-px select-none rounded-sm"
              />{"Cinnamoroll"}
            </Link> merch
          </li>
        </ul>
      </div>
    </div>
  </div>
</Layout>

<script>
  const bessyNotice = document.getElementById("bessy-notice");
  if (bessyNotice && document.referrer.includes("bessy.io")) {
    bessyNotice.removeAttribute("hidden");
  }
</script>
