---
import { ViewTransitions } from "astro:transitions";
import GoogleAnalytics from "$/components/GoogleAnalytics.astro";
import DesktopNavbar from "$/components/Navbar/DesktopNavbar.astro";
import MobileNavbar from "$/components/Navbar/MobileNavbar.astro";
import SkipToContent from "./SkipToContent.astro";
import faviconImg from "$/icons/icon.svg";

// This project uses the Satoshi font, which is a proprietary font.
// Please view its license at <root>/assets/satoshi/LICENSE.txt
import "../../assets/satoshi/satoshi.css";

interface Props {
  class?: string;

  seo: {
    title: string;
    description?: string;
    /**
     * Should be a valid HTML color
     * Corresponds to <meta property="theme-color" content="" />
     */
    themeColor?: string;
    image?: {
      src: string;
      alt?: string;
      /** Whether to make the image large in embeds. Defaults to false. */
      isLargeImage?: boolean;
    };

    /** https://ogp.me/ */
    og?: {
      site_name?: string;
      locale?: string;
    };

    /** https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup */
    twitter?: {
      /** @username of content creator */
      creator?: string;
      /** Corresponds to twitter:card */
      card_type?: string;
    };
  };
}

const { class: className, seo } = Astro.props;

const imageURL = seo.image?.src ? new URL(seo.image.src, Astro.url).href : undefined;
const canonicalURL = new URL(Astro.url).href;

const defaultDescription = "18 y/o developer building consumer-facing products";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={faviconImg.src} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    {/* <ViewTransitions /> */}

    <style is:global>
      /* Turn off view transition animations */
      ::view-transition-old(root),
      ::view-transition-new(root) {
        animation: none;
      }

      /* Prevents code blocks from overflowing */
      .expressive-code {
        @apply max-w-4xl;
      }

      /* Prevent layout shifts caused by scrollbar */
      html {
        scrollbar-gutter: stable;
      }
    </style>

    <style>
      #background-root {
        height: 100vh;
        width: 100vw;
      }

      /* Override if dvh is supported */
      @supports (height: 100dvh) {
        #background-root {
          height: 100dvh;
          width: 100dvw;
        }
      }
    </style>

    {/* Analytics */}
    {
      import.meta.env.MODE === "production" && (
        <>
          <script
            defer
            src="/oneds.js"
            data-debug="armaan.cc"
            data-url={new URL("/_oneds", canonicalURL).href}
          />

          {import.meta.env.PUBLIC_GOOGLE_ANALYTICS_ID && (
            <GoogleAnalytics id={import.meta.env.PUBLIC_GOOGLE_ANALYTICS_ID} />
          )}
        </>
      )
    }

    {/* Tota11y */}
    {import.meta.env.DEV && <script src="https://unpkg.com/@khanacademy/tota11y" />}

    {/* Basic SEO */}
    <title>{seo.title === "Armaan Aggarwal" ? seo.title : seo.title + " | Armaan Aggarwal"}</title>
    <link rel="canonical" href={canonicalURL} />
    <meta name="title" content={seo.title} />
    <meta name="description" content={seo.description ?? defaultDescription} />
    {seo.themeColor && <meta name="theme-color" content={seo.themeColor} />}

    {/* OpenGraph */}
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={seo.title} />
    <meta property="og:description" content={seo.description ?? defaultDescription} />
    <meta property="og:locale" content={seo.og?.locale ?? "en_US"} />
    <meta property="og:site_name" content={seo.og?.site_name ?? "Armaan Aggarwal"} />
    {imageURL && <meta property="og:image" content={imageURL} />}

    {/* Twitter */}
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={seo.title} />
    <meta property="twitter:description" content={seo.description ?? defaultDescription} />
    {
      seo.twitter?.card_type ? (
        <meta property="twitter:card" content={seo.twitter?.card_type} />
      ) : seo.image?.isLargeImage ? (
        <meta property="twitter:card" content="summary_large_image" />
      ) : null
    }
    {imageURL && <meta property="twitter:image" content={imageURL} />}
    {
      seo.twitter?.creator && (
        <>
          <meta name="twitter:creator" content={seo.twitter.creator} />
          <meta name="twitter:site" content={seo.twitter.creator} />
        </>
      )
    }
  </head>

  <body class="flex min-h-screen flex-col sm:items-center sm:px-4 sm:text-lg">
    {/* Background */}
    <div
      id="background-root"
      class="fixed top-0 z-[-1] bg-gradient-to-br from-armaan-blue/10 to-armaan-red/10"
    >
    </div>

    <SkipToContent />

    <DesktopNavbar />
    <MobileNavbar />

    <main
      id="main"
      tabindex="-1"
      class:list={["mt-4 w-full max-w-4xl px-4 pb-14 xs:px-6 sm:mt-6 sm:px-4", className]}
    >
      <slot />
    </main>
  </body>
</html>
