---
import { Image, type LocalImageProps } from "astro:assets";
import type { HTMLAttributes } from "astro/types";

import ArrowForwardIcon from "$/icons/vendored/ion:arrow-forward.svg";

interface Props {
  title: string;
  role?: string;
  description: string;
  imgSrc: LocalImageProps["src"];
  imgClass?: string;
  imgLoading?: LocalImageProps["loading"];
  href: string;
  tags?: string[];
  headingType: "h1" | "h2" | "h3" | "h4" | "h5" | "h5";
  target?: HTMLAttributes<"a">["target"];
}

const {
  title,
  description,
  imgSrc,
  imgClass,
  imgLoading,
  href,
  tags,
  headingType: Heading,
  role,
  target = "_blank",
} = Astro.props;

const TAG_CLASS_MAP = [
  "bg-surface-elevated-2/75 text-subtitle",
  "bg-blue-100/75 text-blue-800 dark:bg-blue-700/25 dark:text-blue-100",
  "bg-indigo-100/75 text-indigo-800 dark:bg-indigo-700/25 dark:text-indigo-100",
  "bg-green-100/75 text-green-800 dark:bg-green-700/25 dark:text-green-100",
];
---

<a
  href={href}
  target={target}
  class:list={[
    "group grid h-full gap-2 rounded-2xl bg-surface-elevated-1 p-4 duration-200 sm:grid-cols-[auto_1fr_auto] sm:gap-0 sm:p-0",
    "shadow-xs shadow-shades-shadow hover:shadow-md focus:shadow-md active:shadow-md",
  ]}
>
  <div
    class:list={[
      "flex items-center justify-start sm:justify-center sm:rounded-l-2xl sm:p-4",
      "sm:bg-surface-elevated-2",
    ]}
  >
    <Image
      src={imgSrc}
      loading={imgLoading}
      alt=""
      width="256"
      class:list={[
        "w-14 rounded-2xl shadow-sm duration-150 sm:w-16",
        "group-hover:-rotate-2 group-focus:-rotate-2 group-active:-rotate-2",
        "group-hover:scale-[1.03] group-focus:scale-[1.03] group-active:scale-[1.03]",
        imgClass,
      ]}
    />
  </div>

  <div class="flex flex-1 flex-col justify-between sm:p-4">
    <div>
      <div class="*:inline-block *:w-fit">
        <Heading class="text-lg font-medium break-all">
          <span>{title}</span>
          <ArrowForwardIcon
            class="inline -rotate-45 text-subtitle-light duration-200 group-hover:text-subtitle group-focus:text-subtitle group-active:text-subtitle sm:hidden"
            width="20"
            aria-hidden="true"
          />
        </Heading>

        {/* Role on desktop */}
        {role && <p class="text-base text-subtitle italic max-sm:hidden">— {role}</p>}
      </div>

      {/* Role on mobile */}
      {role && <p class="mb-2 text-sm text-subtitle italic sm:hidden">{role}</p>}

      {
        /* Using <pre> so you can pass "\n" to description strings and have that rendered as line breaks */
      }
      <pre
        class="font-[inherit] text-sm leading-6 font-normal whitespace-pre-wrap text-subtitle">{description}</pre>
    </div>

    {
      tags && (
        <div class="mt-4 gap-6 sm:mt-2">
          {tags.map((tag, index) => (
            <span
              class:list={[
                "mr-2 inline-flex rounded-sm px-2 py-0.5 text-xs font-medium",
                TAG_CLASS_MAP[index],
              ]}
            >
              {tag}
            </span>
          ))}
        </div>
      )
    }
  </div>

  <div class="hidden items-center justify-center px-4 sm:flex">
    <ArrowForwardIcon
      class:list={[
        "-rotate-45 text-subtitle-light duration-200",
        "group-hover:-translate-y-px group-focus:-translate-y-px group-active:-translate-y-px",
        "group-hover:translate-x-px group-focus:translate-x-px group-active:translate-x-px",
        "group-hover:text-subtitle group-focus:text-subtitle group-active:text-subtitle",
      ]}
      width="20"
      aria-hidden="true"
    />
  </div>
</a>
