---
import Layout from "$/components/Layout.astro";
import PageTitle from "$/components/PageTitle.astro";
import Project from "$/components/Project.astro";

import bessyImg from "$/images/work/bessy.png";
import coconoteImg from "$/images/work/coconote.webp";
import replitImg from "$/icons/replit.svg";
import doblarImg from "$/images/work/doblar.svg";
import voicemaskImg from "$/images/work/voicemask.png";
---

<Layout
  seo={{
    title: "Work",
    image: {
      src: "/og-image/work.png",
      isLargeImage: true,
    },
  }}
>
  <h1 class="sr-only">Work and Projects</h1>

  <PageTitle title="Work" headingType="h2" class="mb-2" />

  <div class="mb-12 grid gap-3">
    <Project
      title="Replit"
      role="Software Engineer"
      description={`
Making software creation accessible to all through natural language.
I work on the mobile app full-time to make coding easier for everyone.
`.trim()}
      imgSrc={replitImg}
      imgBgClass="bg-[#F26207]/20"
      imgClass="bg-[#F26207]"
      href="https://replit.com"
      tags={["React Native/Expo"]}
      headingType="h3"
    />

    <Project
      title="Coconote"
      role="Founding Engineer"
      description={`
The AI note-taker for students and professionals. $300K+ MRR.
I built and scaled the web app from zero to 1M+ users.
`.trim()}
      imgSrc={coconoteImg}
      imgBgClass="bg-[#f4ede4]"
      href="https://coconote.app"
      tags={["React", "React Router 7", "Swift"]}
      headingType="h3"
    />

    <Project
      title="Bessy"
      role="Creator & Developer"
      description={`
A better way to use Schoology and Infinite Campus. Exited at 18. 100K+ students via purely organic ASO.
Next.js for web, Expo for native, tRPC for the API — all managed in one TypeScript monorepo.
`.trim()}
      imgSrc={bessyImg}
      imgBgClass="bg-[#f4ede4]"
      href="https://www.bessy.io"
      tags={["React", "Next.js", "React Native/Expo", "Swift"]}
      headingType="h3"
    />
  </div>

  <PageTitle title="Projects" headingType="h2" class="mb-2" />

  <div class="grid gap-3">
    <Project
      title="Doblar"
      description="An open source fully local image converter that runs in your browser"
      imgSrc={doblarImg}
      imgBgClass="bg-blue-100"
      href="https://doblar.armaan.cc"
      tags={["React", "Vite", "ImageMagick", "PWA"]}
      headingType="h3"
    />

    <Project
      title="VoiceMask"
      description="A Discord bot that allowed you to talk in a voice channel without using your actual voice"
      imgSrc={voicemaskImg}
      imgBgClass="bg-gray-400"
      href="/work/voicemask"
      target="_self"
      tags={["Python", "discord.py", "MongoDB", "AWS"]}
      headingType="h3"
    />
  </div>
</Layout>
